VBox {
    -fx-background-color: #858da5;
}

.lightVbox {
    -fx-background-color: #bcc5e1;
}

HBox {
    -fx-background-color: #bcc5e1;
}

BorderPane {
    -fx-background-color: #bcc5e1;
}

Image {
    -fx-alignment: center;
}

TextField {
    -fx-background-color: #858da5;
    -fx-text-color: #4c4d4b;
    -fx-font-size: 14;
}

Label {
    -fx-text-fill: #4a59bd;
    -fx-font-size: 18;
}

.messageLabel {
    -fx-text-fill: #4d6c16;
    -fx-font-size: 18;
}

.glass-grey {
    -fx-background-color: #c3c4c4,
    linear-gradient(#d6d6d6 50%, white 100%),
    radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230, 230, 230, 0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0, 1, 1;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 3, 0.0, 0, 1);
    -fx-font-size: 16;

}

.config-style {
    -fx-background-color: #c4ad3e,
    linear-gradient(#d6d6d6 50%, #9dd658 100%),
    radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230, 230, 230, 0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0, 1, 1;
    -fx-text-fill: #20104d;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 3, 0.0, 0, 1);
    -fx-font-size: 16;

}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab {
    -fx-background-insets: 0 1 0 1, 0, 0;
}

.tab .tab-label {
    -fx-text-fill: #4d41c4;
    -fx-font-size: 15px;
}